{% extends "main/layout.html" %}

{% load static %}

{% block title %}{% endblock %}

{% block content  %}
    <div class="features">
        <button class="btn btn-success">Какие моменты можно выделить?</button>
        <button class="btn btn-success">Одним из главным моментом можно выделить, что обучение проходит в отдельном ИНКа классе, где в дальнейшем вы будете обучаться. Класс разделён на два кабинета: 1- основное помещение в котором будут проходить уроки; 2- Лаборантская, в ней хранятся ноутбуки (для каждого ученика) и другие оборудования для работы на уроках.</button>
        <button class="btn btn-success">Из интересных моментов можно выделить: сессии в Иркутском национальном исследовательском техническом университете, на которые ученики летают из Усть-Кута, также приезжают вузовские преподаватели, читают лекции, а потом учащиеся сдают им экзамены. В 11 классе ученики ездят в институт ИРНИТУ Иркутска, а также ходят в офис ИНК, встречаются с сотрудниками и руководством, они рассказывают о работе и о том, какие профессии есть в компании. </button>
        <button class="btn btn-success">Также ученики участвуют в бизнес-играх, вебинарах, мастер-классах, научно-практических конференциях, посещали с экскурсиями производственные объекты. Семинары для учеников проводили опытные специалисты ИНК и популяризаторы науки, приглашаемые предприятием. Кроме того, ребята интенсивно занимаются учебных. </button>
        <img src="{% static 'main/img/scale_1200.jpg' %}"
    </div>
{% endblock %}