{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <button class="btn btn-success">🔥Здравствуйте на нашем сайте представлены новостные информации о ИНКа классе🔥</button>
        <button class="btn btn-success">Вообще что такое ИНКа класс? ИНКа класс - это профильный класс, который работает по углубленным программам, ориентируя учащихся на выбор профессий, востребованных Иркутской нефтяной компанией(ИНКа).В проекте могут участвовать выпускники 9-х классов общеобразовательных учреждений г. Усть-Кут, имеющие средний балл аттестата не ниже «4», в том числе по профильным предметам (физика, химия, ИВТ, алгебра, геометрия).Прием граждан на участие в проекте осуществляется с 20 июня по 25 июня по личному заявлению родителей (законных представителей) или в форме электронного документа через сайт школы № 9. Бланк заявления можно получить в администрации школы № 9. Формирование класса пройдет 27 июня 20__ после завершения государственной итоговой аттестации учащихся.</button>
        <img src="{% static 'main/img/IMG_20240316_164332_104 (1) (1).jpg' %}" alt="Лого">
    </div>
{% endblock %}